@model DentHub.Web.Models.About.AboutViewModel

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@foreach (var specialty in Model.Specialties)
{
    <div>
        @specialty.Name => @specialty.Description
    </div>
}