@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Bul. Vasil Levski 45<br />
    Sofia, 1092<br />
    <abbr title="Phone">P:</abbr>
    +359 2 123-456
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@denthub.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@denthub.com</a>
</address>
