
@{
    ViewData["Title"] = "Guidelines";
}
<div class="container-fluid">
    <h2>How to use DentHub</h2>
    <hr>
    <br>
    <p>If you are a patient, and already have an account please <a href="~/Identity/Account/Login">sign in</a> and schedule your next dentist appointment choosing among a multitude of <a href="~/Administration/Clinic/All">clinics</a> and <a href="~/Administration/Dentist/All">professionals</a>. Once you see your dentist, share your exerience and rate the appointment.</p>
    <br>
    <p>If you still don't have an account, all you need to do is <a href="~/Identity/Account/RegisterPatient">register&nbsp;as a patient</a>.</p>
    <br>
    <p>If you are a denitist professional working for one of our clinics, please <a href="~/Identity/Account/Register">register as a dentist</a> and:</p>
    <ul>
        <li>offer appointments</a> with one click</li>
        <li>find all your patients' dental records&nbsp;&nbsp;</li>
        <li>rate your patient after every appointment&nbsp;</li>
    </ul>
    <br>
    <p>Every medical instution can register with DentHub and start using our services. Contact our representatives by emailing <a href="mailto:%20cs@denthub.com">cs@denthub.com</a>.</p>
    <br>
    <p>In search of better services for patients and better patients for our professionals, we will deactivate every clinic, dentist or patient which consistently receive ratings below expectations.</p>
    <p>&nbsp;</p>
</div>
