
@{
    ViewData["Title"] = "ScheduleAppointment";
}

<h2>How to schedule an appointment?</h2>
</hr>
<div>
<p>If you are a patient, appointments available for booking are visible with status "Offering". Use the Book link next to the desired available appointment. @*Follow up the status of your booking. Your dentist will move it to status "Confirmed".*@ After that you can no longer cancel your appointment. If you still have a valid reason to do so, please contact your dentist or his/her clinic directly.</p>
<p>&nbsp;</p>
<p>If you are a dentist, you can add your appointment availability by navigating to <a href="~/Appointment/Index">My Appointmens</a> and clicking <a href="~/Appointment/CreateOffering">Offer an Appointment</a> at the bottom of the page. You can always cancel the appointment. @*After confirming an appointment you can no longer cancel it. If you still have a valid reason to cancel your appointment please contact your patient directly.*@</p>
<p>&nbsp;</p>
<p>Once a patient sees their dentist, either of them can rate the appointment.&nbsp;</p>
<p>&nbsp;</p>
</div>