@model DentHub.Web.Models.About.AboutViewModel

@{
    ViewData["Title"] = "Specialties";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@foreach (var specialty in Model.Specialties)
{
<div class="card mb-3">
    @*<img class="card-img-top" src="..." alt="Card image cap">*@
    <div class="card-body">
        <h5 class="card-title">@specialty.Name</h5>
        <p class="card-text">@specialty.Description</p>
        @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
    </div>
</div>
         
    
}