@model DentHub.Web.Models.File.FileInputModel

@{
    ViewData["Title"] = "Details";
}

@*<h2>Details</h2>*@

<div>
    <img src="@Model.FileUrl" height="842" width="595">
    </div>
<br>
<div>
    <a href="##" onClick="history.go(-1); return false;"> Return to patient files</a>
</div>
