@using Microsoft.AspNetCore.Identity
@using DentHub.Data.Models

@inject SignInManager<DentHubUser> SignInManager
@inject UserManager<DentHubUser> UserManager

<ul class="nav navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User) && this.User.IsInRole("Administrator"))
    {
        <li><a asp-area="Administration" asp-controller="Clinic" asp-action="All">Clinics</a></li>
        <li><a asp-area="Administration" asp-controller="Dentist" asp-action="All">Dentists</a></li>
        <li><a asp-area="Administration" asp-controller="Patient" asp-action="All">Patients</a></li>
        <li><a asp-area="" asp-controller="Rating" asp-action="All">Ratings</a></li>
    }
    else if (this.SignInManager.IsSignedIn(this.User) && this.User.IsInRole("Dentist"))
    {
        <li><a asp-area="" asp-controller="Dentist" asp-action="DentistPatients">My Patients</a></li>
        @*<li><a asp-area="Administration" asp-controller="Dentist" asp-action="All">Dentists</a></li>*@
        <li><a asp-area="" asp-controller="Appointment" asp-action="Index">My Appointments</a></li>
    }
    else if (this.SignInManager.IsSignedIn(this.User) && this.User.IsInRole("Patient"))
    {
        <li><a asp-area="" asp-controller="Home" asp-action="Specialties">Dental Specialties</a></li>
        <li><a asp-area="Administration" asp-controller="Clinic" asp-action="All">Clinics & Dentists</a></li>
        <li><a asp-area="" asp-controller="Appointment" asp-action="Index">My Appointments</a></li>
        <li><a asp-area="" asp-controller="PatientRecord" asp-action="PatientFiles">My Files</a></li>
        <li><a asp-area="" asp-controller="Patient" asp-action="PatientDentists">My Ratings</a></li>
    }
    else
    {
        <li><a asp-area="" asp-controller="Home" asp-action="Specialties">Dental Specialties</a></li>
        <li><a asp-area="Administration" asp-controller="Clinic" asp-action="All">Clinics</a></li>
        <li><a asp-area="Administration" asp-controller="Dentist" asp-action="All">Dentists</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
    }
</ul>
