@model DentHub.Web.Areas.Administration.Models.ClinicViewModel

@using Microsoft.AspNetCore.Identity
@using DentHub.Data.Models

@inject SignInManager<DentHubUser> SignInManager
@inject UserManager<DentHubUser> UserManager

@if (this.SignInManager.IsSignedIn(this.User) && this.User.IsInRole("Administrator"))
{
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    </td>
    <td class="delete-section">
        <a class="delete-link" href="@Url.Action("Deactivate", new { id = Model.Id })">Deactivate</a>
        @*<div class="btn btn-primary delete-confirm" style="display:none" data-delete-id="Model.Id">Confirm Deactivate</div>*@
    </td>
}