@model DentHub.Web.Areas.Administration.Models.ClinicViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create a new clinic</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Administration/Clinic/create" method="post">
             <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input type="text" name="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Street" class="control-label">Street</label>
                <input type="text" name="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="City">City</label>
                <input type="text" name="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="PostalCode" class="control-label">Postal Code</label>
                <input type="text" name="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Country" class="control-label">Country</label>
                <input type="text" name="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="WorkingHours" class="control-label">Working Hours</label>
                <input type="text" name="WorkingHours" class="form-control" />
                <span asp-validation-for="WorkingHours" class="text-danger"></span>
            </div>

            <input type="submit" name="submit" />
        </form>
    </div>
</div>
<br>
<div>
    @Html.ActionLink("All Clinics", "All", "Clinic")
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
